/problema1/Terreno/nbproject/private/
/problema2/Horas/nbproject/private/
/problema1/Terreno/build/
/problema3/Instituciones/nbproject/private/
/problema3/Instituciones/build/
/problema4/Celulares/nbproject/private/
/problema4/Celulares/build/